{% extends "base.html" %}
{% block content %}
<div class="floating_field large">
	<Strong>Curriculum for Networking</Strong><br>
	Jakob C. Hild & Marguerite Weldon 2020<br>
</div>
<div class="floating_box large">
    <table style="width: 100%;">
        <tbody>
            <tr>
                <td>Unit 1</td>
                <td><div style="text-align: center;">Intro & DNS</div></td>
                <td style="width: 75%;">
                    <ol>
                        <li>[<a href="{{ url_for('static', filename='notes/Networking/cs355_notes_intro.pdf') }}" target="_blank" >Intro</a>]
                            Introduce the OSI model with it's various layers. With a brief introduction to Protocols and the history of the internet.
                        </li>
                        <li>[<a href="{{ url_for('static', filename='notes/Networking/cs355_notes_dns.pdf') }}" target="_blank" >DNS</a>]
                            Describe the Domain Name System's history and how it works. Topics include sub-domains, top-level domains (TLD),
                            how to do a DNS lookup, and the concept of DNS Caching.
                        </li>
                        <li>[<a href="{{ url_for('static', filename='notes/Networking/work/cs355fall2020_homework1.pdf') }}" target="_blank" >Homework 1</a>]
                            The topics covered in this unit will be enough to complete this set of exercises.
                        </li>
                    </ol>
                </td>
            </tr>
            <tr>
                <td>Unit 2</td>
                <td><div style="text-align: center;">HTTP</div></td>
                <td style="width: 75%;">
                    <ol>
                        <li>[<a href="{{ url_for('static', filename='notes/Networking/cs355_notes_http.pdf') }}" target="_blank" >HTTP</a>]
                            Go into the detail of HyperText Transfer Protocol and it's syntax. Describe it's commands and headers and resulting status codes.
                            Describe URL's and URL encoding. Learn about GET and POST. Describe Cookies and more about Caching.
                        </li>
                        <li>[<a href="{{ url_for('static', filename='notes/Networking/work/cs355fall2020_homework2.pdf') }}" target="_blank" >Homework 2</a>]
                            The topics covered in this unit will be enough to complete this set of exercises.
                        </li>
                    </ol>
                </td>
            </tr>
            <tr>
                <td>Unit 3</td>
                <td><div style="text-align: center;">Application Layer</div></td>
                <td style="width: 75%;">
                    <ol>
                        <li>[<a href="{{ url_for('static', filename='notes/Networking/cs355_notes_application_layer.pdf') }}" target="_blank" >AppLayer</a>]
                            This will talk about several of the protocols associated with the application layer: TLS, FTP, SSH, Email, and Base64.
                        </li>
                        <li>[<a href="{{ url_for('static', filename='notes/Networking/work/cs355fall2020_homework3.pdf') }}" target="_blank" >Homework 3</a>]
                            This homework will also test you on the HTTP Notes a little bit more.
                        </li>
                    </ol>
                </td>
            </tr>
            <tr>
                <td>Unit 4</td>
                <td><div style="text-align: center;">Transport Layer</div></td>
                <td style="width: 75%;">
                    <ol>
                        <li>[<a href="{{ url_for('static', filename='notes/Networking/cs355_notes_application_layer.pdf') }}" target="_blank" >AppLayer</a>]
                            You should read more into Email, Conversions, and Base64 This time around.
                        </li>
                        <li>[<a href="{{ url_for('static', filename='notes/Networking/cs355_notes_transport_layer_udp.pdf') }}" target="_blank" >TrnLayer</a>]
                            This covers Ports, Checksums, and UDP.
                        </li>
                        <li>[<a href="{{ url_for('static', filename='notes/Networking/work/cs355fall2020_homework4.pdf') }}" target="_blank" >Homework 4</a>]
                            This unit has everything you need.
                        </li>
                    </ol>
                </td>
            </tr>
            <tr>
                <td>Unit 5</td>
                <td><div style="text-align: center;">Transmission Control Protocol</div></td>
                <td style="width: 75%;">
                    <ol>
                        <li>[<a href="{{ url_for('static', filename='notes/Networking/cs355_notes_tcp.pdf') }}" target="_blank" >TCP</a>]
                            This goes into a deep dive of TCP: 3-way-handshake, Closing a connection, reliability, Headers, Flow Control, and more.
                        </li>
                        <li>[<a href="{{ url_for('static', filename='notes/Networking/work/cs355fall2020_homework5.pdf') }}" target="_blank" >Homework 5</a>]
                            This unit has everything you need.
                        </li>
                        <li>[<a href="{{ url_for('static', filename='notes/Networking/work/cs355fall2020_homework6.pdf') }}" target="_blank" >Homework 6</a>]
                            There's a lot to talk about in TCP so there are two homeworks for it.
                        </li>
                        <li>[<a href="{{ url_for('static', filename='notes/Networking/work/cs355fall2020_homework7.pdf') }}" target="_blank" >Homework 7</a>]
                            Let's make that 3.
                        </li>
                    </ol>
                </td>
            </tr>
            <tr>
                <td>Test Yourself</td>
                <td><div style="text-align: center;">Exam 1</div></td>
                <td style="width: 75%;">
                    <ol>
                        <li>[<a href="{{ url_for('static', filename='notes/Networking/work/cs355fall2020_exam1.pdf') }}" target="_blank" >Exam 1</a>]
                            This will use material from all of the notes used up to this point.
                        </li>
                    </ol>
                </td>
            </tr>
            <tr>
                <td>Unit 6</td>
                <td><div style="text-align: center;">Internet Protocol</div></td>
                <td style="width: 75%;">
                    <ol>
                        <li>[<a href="{{ url_for('static', filename='notes/Networking/cs355_notes_internet_protocol.pdf') }}" target="_blank" >IP</a>]
                            This is all about internet protocol and the different types of headers it holds. It also covers fragmentation, ping, trace root
                            and much, much more.
                        </li>
                        <li>[<a href="{{ url_for('static', filename='notes/Networking/cs355_notes_ipv6_icmp.pdf') }}" target="_blank" >IPv6</a>]
                            This covers IPv6 and ICMP aka Internet Control Message Protocol.
                        </li>
                        <li>[<a href="{{ url_for('static', filename='notes/Networking/cs355_notes_ip_addresses.pdf') }}" target="_blank" >IPAddr</a>]
                            This covers how IP addresses were given out in blocks and how networks rely on the information that comes with an IP network.
                        </li>
                        <li>[<a href="{{ url_for('static', filename='notes/Networking/work/cs355fall2020_homework8.pdf') }}" target="_blank" >Homework 8</a>]
                            This unit has everything you need.
                        </li>
                    </ol>
                </td>
            </tr>
            <tr>
                <td>Unit 7</td>
                <td><div style="text-align: center;">Routing</div></td>
                <td style="width: 75%;">
                    <ol>
                        <li>[<a href="{{ url_for('static', filename='notes/Networking/cs355_notes_nat_dhcp_apipa_arp.pdf') }}" target="_blank" >NAT/DHCP/APIPA/ARP</a>]
                            We are crawling slowly down the OSI model, now we can finally look at how routers communicate.
                        </li>
                        <li>[<a href="{{ url_for('static', filename='notes/Networking/cs355_notes_routing.pdf') }}" target="_blank" >Routing</a>]
                            Routing goes somewhat into graph theory and how routers actually routers can choose the best route from one computer to the next.
                            This also covers a little bit of the ASes or Autonomous Systems and BGP or Border Gateway Protocol that makes up the structure
                            of the Internet.
                        </li>
                        <li>[<a href="{{ url_for('static', filename='notes/Networking/work/cs355fall2020_homework9.pdf') }}" target="_blank" >Homework 9</a>]
                            This unit has everything you need.
                        </li>
                    </ol>
                </td>
            </tr>
            <tr>
                <td>Test Yourself</td>
                <td><div style="text-align: center;">Exam 2</div></td>
                <td style="width: 75%;">
                    <ol>
                        <li>[<a href="{{ url_for('static', filename='notes/Networking/work/cs355fall2020_exam2.pdf') }}" target="_blank" >Exam 2</a>]
                            This will use material from all of the notes used up to this point.
                        </li>
                    </ol>
                </td>
            </tr>
            <tr>
                <td>Unit 8</td>
                <td><div style="text-align: center;">Physical Link</div></td>
                <td style="width: 75%;">
                    <ol>
                        <li>[<a href="{{ url_for('static', filename='notes/Networking/cs355_notes_layers12.pdf') }}" target="_blank" >PhysLink</a>]
                            At the lowest part of the OSI model we start to look at the physical connections whether it be the frequencies data travels or
                            the actual wires connecting devices. This also get's into how two signals can block each other and the ways we avoid that with
                            collision detection. Also covered is the physical structure of the internet and how the internet is mostly made up of
                            packet switching stations called routers.
                        </li>
                        <li>[<a href="{{ url_for('static', filename='notes/Networking/work/cs355fall2020_homework10.pdf') }}" target="_blank" >Homework 10</a>]
                            This unit has everything you need.
                        </li>
                    </ol>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="floating_field large">
	<Strong>Resources for Networking</Strong><br>
	Resources by Professor Heinold of Mount St. Mary's University
</div>
<div class="floating_box large">
    <table style="width: 100%;">
        <tbody>
            <tr>
                <td>
                    <div style="text-align: center;">Notes</div>
                </td>
                <td style="width: 75%;">
                    <ol>
                        <li><a href="{{ url_for('static', filename='notes/Networking/cs355_notes_intro.pdf') }}" target="_blank" >Intro</a></li>
                        <li><a href="{{ url_for('static', filename='notes/Networking/cs355_notes_dns.pdf') }}" target="_blank" >Domain Name Service</a></li>
                        <li><a href="{{ url_for('static', filename='notes/Networking/cs355_notes_http.pdf') }}" target="_blank" >HTTP</a></li>
                        <li><a href="{{ url_for('static', filename='notes/Networking/cs355_notes_application_layer.pdf') }}" target="_blank" >Application Layer</a></li>
                        <li><a href="{{ url_for('static', filename='notes/Networking/cs355_notes_transport_layer_udp.pdf') }}" target="_blank" >Transport Layer</a></li>
                        <li><a href="{{ url_for('static', filename='notes/Networking/cs355_notes_tcp.pdf') }}" target="_blank" >TCP</a></li>
                        <li><a href="{{ url_for('static', filename='notes/Networking/cs355_notes_internet_protocol.pdf') }}" target="_blank" >Internet Protocol</a></li>
                        <li><a href="{{ url_for('static', filename='notes/Networking/cs355_notes_ipv6_icmp.pdf') }}" target="_blank" >IPv6 & icmp</a></li>
                        <li><a href="{{ url_for('static', filename='notes/Networking/cs355_notes_ip_addresses.pdf') }}" target="_blank" >IP Addresses</a></li>
                        <li><a href="{{ url_for('static', filename='notes/Networking/cs355_notes_nat_dhcp_apipa_arp.pdf') }}" target="_blank" >NAT/DHCP/APIPA/ARP</a></li>
                        <li><a href="{{ url_for('static', filename='notes/Networking/cs355_notes_routing.pdf') }}" target="_blank" >Routing</a></li>
                        <li><a href="{{ url_for('static', filename='notes/Networking/cs355_notes_layers12.pdf') }}" target="_blank" >Physical Link</a></li>
                    </ol>
                </td>
            </tr>
            <tr>
                <td>
                    <div style="text-align: center;">Work Sheets</div>
                </td>
                <td style="width: 75%;">
                    <ul>
                        <li><a href="{{ url_for('static', filename='notes/Networking/work/cs355fall2020_homework1.pdf') }}" target="_blank" >Homework 1</a></li>
                        <li><a href="{{ url_for('static', filename='notes/Networking/work/cs355fall2020_homework2.pdf') }}" target="_blank" >Homework 2</a></li>
                        <li><a href="{{ url_for('static', filename='notes/Networking/work/cs355fall2020_homework3.pdf') }}" target="_blank" >Homework 3</a></li>
                        <li><a href="{{ url_for('static', filename='notes/Networking/work/cs355fall2020_homework4.pdf') }}" target="_blank" >Homework 4</a></li>
                        <li><a href="{{ url_for('static', filename='notes/Networking/work/cs355fall2020_homework5.pdf') }}" target="_blank" >Homework 5</a></li>
                        <li><a href="{{ url_for('static', filename='notes/Networking/work/cs355fall2020_homework6.pdf') }}" target="_blank" >Homework 6</a></li>
                        <li><a href="{{ url_for('static', filename='notes/Networking/work/cs355fall2020_homework7.pdf') }}" target="_blank" >Homework 7</a></li>
                        <li><a href="{{ url_for('static', filename='notes/Networking/work/cs355fall2020_homework8.pdf') }}" target="_blank" >Homework 8</a></li>
                        <li><a href="{{ url_for('static', filename='notes/Networking/work/cs355fall2020_homework9.pdf') }}" target="_blank" >Homework 9</a></li>
                        <li><a href="{{ url_for('static', filename='notes/Networking/work/cs355fall2020_homework10.pdf') }}" target="_blank" >Homework 10</a></li>
                        <br>
                        <li><a href="{{ url_for('static', filename='notes/Networking/work/cs355fall2020_exam1.pdf') }}" target="_blank" >Exam 1</a></li>
                        <li><a href="{{ url_for('static', filename='notes/Networking/work/cs355fall2020_exam2.pdf') }}" target="_blank" >Exam 2</a></li>
                        <li><a href="{{ url_for('static', filename='notes/Networking/work/cs355fall2020_ec_assignment.pdf') }}" target="_blank" >Extra Credit</a></li>
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}