{% extends "base.html" %}
{% block content %}
<div class="floating_field large">
	<Strong>Curriculum for Security</Strong><br>
	Jakob C. Hild & Marguerite Weldon 2020<br>
</div>
<div class="floating_box large">
    <table style="width: 100%;">
        <tbody>
            <tr>
                <td>Unit 1</td>
                <td><div style="text-align: center;">Cryptography Intro</div></td>
                <td style="width: 75%;">
                    <ol>
                        <li>[<a href="{{ url_for('static', filename='notes/Security/cs358_notes_classical_cryptography.pdf') }}" target="_blank" >Classical Cryptography 1</a>]
                            This includes the differing types of cyphers: Substitution, Vigenere, One-Time pad, and how to use or find their keys.
                        </li>
                        <li>[<a href="{{ url_for('static', filename='notes/Security/work/cs358fall2020_homework1.pdf') }}" target="_blank" >Homework 1</a>]
                            The topics covered in this unit will be enough to complete this set of exercises.
                        </li>
                    </ol>
                </td>
            </tr>
            <tr>
                <td>Unit 2</td>
                <td><div style="text-align: center;">Permutation and Stream Cyphers</div></td>
                <td style="width: 75%;">
                    <ol>
                        <li>[<a href="{{ url_for('static', filename='notes/Security/cs358_notes_classical_cryptography2.pdf') }}" target="_blank">Classical Cryptography 2</a>]
                            This goes into Permutation Cyphers and the Playfair cypher.
                        </li>
                        <li>[<a href="{{ url_for('static', filename='notes/Security/cs358_notes_modern_cryptography1.pdf') }}" target="_blank">Modern Cryptography 1</a>]
                            This starts talking about Stream cyphers by using xor against a key and plain text or encrypted text to get its counterpart.
                        </li>
                        <li>[<a href="{{ url_for('static', filename='notes/Security/work/cs358fall2020_homework2.pdf') }}" target="_blank" >Homework 2</a>]
                            The topics covered in this unit will be enough to complete this set of exercises.
                        </li>
                    </ol>
                </td>
            </tr>
            <tr>
                <td>Unit 3</td>
                <td><div style="text-align: center;">Block Cyphers and Special Topics</div></td>
                <td style="width: 75%;">
                    <ol>
                        <li>[<a href="{{ url_for('static', filename='notes/Security/cs358_notes_modern_cryptography2.pdf') }}" target="_blank">Modern Cryptography 2</a>]
                            This covers how we measure security, Pseudo Random numbers, and a special topic called the Birthday Problem.
                        </li>
                        <li>[<a href="{{ url_for('static', filename='notes/Security/cs358_notes_modern_cryptography3.pdf') }}" target="_blank">Modern Cryptography 3</a>]
                            This covers a good amount of block cyphers. These are very important because there is rarely any encryption done without using the special
                            modes of block cyphers. It covers how large blocks should be and The Data Encryption Standard DES Mode and why we never use it and we use
                            Advanced Encryption Standard AES commonly today.
                        </li>
                        <li>[<a href="{{ url_for('static', filename='notes/Security/work/cs358fall2020_homework3.pdf') }}" target="_blank" >Homework 3</a>]
                            This homework will also test you on the HTTP Notes a little bit more.
                        </li>
                    </ol>
                </td>
            </tr>
            <tr>
                <td>Unit 4</td>
                <td><div style="text-align: center;">Key Exchange and Hashing</div></td>
                <td style="width: 75%;">
                    <ol>
                        <li>[<a href="{{ url_for('static', filename='notes/Security/cs358_notes_modern_cryptography4.pdf') }}" target="_blank">Modern Cryptography 4</a>]
                            This Covers the various types of key exchange algorithms and attacks to find keys: Diffie-Hellman, RSA, Trapdoor functions, and
                            side channel attacks.
                        </li>
                        <li>[<a href="{{ url_for('static', filename='notes/Security/cs358_notes_modern_cryptography5.pdf') }}" target="_blank">Modern Cryptography 5</a>]
                            This goes over what a Hash is and how it is used in security. This also covers common hash functions, collisions between hashes,
                            Digital signatures, Certificates, and TLS or Transport Layer Security.
                        </li>
                        <li>[<a href="{{ url_for('static', filename='notes/Security/work/cs358fall2020_homework4.pdf') }}" target="_blank" >Homework 4</a>]
                            This unit has everything you need.
                        </li>
                        <li>[<a href="{{ url_for('static', filename='notes/Security/work/cs358fall2020_homework5.pdf') }}" target="_blank" >Homework 5</a>]
                            This unit has everything you need.
                        </li>
                    </ol>
                </td>
            </tr>
            <tr>
                <td>Test Yourself</td>
                <td><div style="text-align: center;">Exam 1</div></td>
                <td style="width: 75%;">
                    <ol>
                        <li>[<a href="{{ url_for('static', filename='notes/Security/work/cs358fall2020_exam1.pdf') }}" target="_blank" >Exam 1</a>]
                            This will use material from all of the notes used up to this point.
                        </li>
                    </ol>
                </td>
            </tr>
            <tr>
                <td>Unit 5</td>
                <td><div style="text-align: center;">Passwords</div></td>
                <td style="width: 75%;">
                    <ol>
                        <li>[<a href="{{ url_for('static', filename='notes/Security/cs358_notes_passwords.pdf') }}" target="_blank">Passwords</a>]
                            This is all about password Security and how to crack passwords using hashes. We also learn about how we can strengthen our hashes
                            from brute force algorithms like rainbow table searching using salting. There's also a few NIST password recommendations.
                        </li>
                        <li>[<a href="{{ url_for('static', filename='notes/Security/work/cs358fall2020_homework6.pdf') }}" target="_blank" >Homework 6</a>]
                            This unit has everything you need.
                        </li>
                    </ol>
                </td>
            </tr>
            <tr>
                <td>Unit 6</td>
                <td><div style="text-align: center;">DNS Security</div></td>
                <td style="width: 75%;">
                    <ol>
                        <li>[<a href="{{ url_for('static', filename='notes/Security/cs358_notes_dns_security.pdf') }}" target="_blank">DNS Security</a>]
                            This has to do with much of the security around domain names: Phishing Sites, hosts.txt, Cache Poisoning, Evil Twin Access Points,
                            DoS attacks, and plenty of solutions to each problem.
                        </li>
                        <li>[<a href="{{ url_for('static', filename='notes/Security/work/cs358fall2020_homework7.pdf') }}" target="_blank" >Homework 7</a>]
                            This unit has everything you need.
                        </li>
                    </ol>
                </td>
            </tr>
            <tr>
                <td>Unit 7</td>
                <td><div style="text-align: center;">Network Security</div></td>
                <td style="width: 75%;">
                    <ol>
                        <li>[<a href="{{ url_for('static', filename='notes/Security/cs358_notes_network_security.pdf') }}" target="_blank">Network Security 1</a>]
                            We cover networking very briefly and discuss, Attacks using TCP, Port Scanning, and how to protect servers from those attacks and scanning.
                        </li>
                        <li>[<a href="{{ url_for('static', filename='notes/Security/cs358_notes_network_security2.pdf') }}" target="_blank">Network Security 2</a>]
                            This goes through many many types of attacks. Ping flood, Ping of death, Smurf Attack, ICMP tunneling, Ping sweep, Trace route,
                            ICMP redirect, Disabling ICMP. We also have many types of DoS attacks: DNS amplification, NTP amplification, UDP flood,
                            and the Echo-chargen attack.
                        </li>
                        <li>[<a href="{{ url_for('static', filename='notes/Security/cs358_notes_network_security3.pdf') }}" target="_blank">Network Security 3</a>]
                            We learn about: Network Address Translation NAT, Virtual Private Networks VPN, Firewalls for filtering, Wi-Fi security/encryption
                            with WEP, WPA, WPA2, and WPS.
                        </li>
                        <li>[<a href="{{ url_for('static', filename='notes/Security/work/cs358fall2020_homework8.pdf') }}" target="_blank" >Homework 8</a>]
                            This unit has everything you need.
                        </li>
                        <li>[<a href="{{ url_for('static', filename='notes/Security/work/cs358fall2020_homework9.pdf') }}" target="_blank" >Homework 9</a>]
                            This unit has everything you need.
                        </li>
                        <li>[<a href="{{ url_for('static', filename='notes/Security/work/cs358fall2020_homework10.pdf') }}" target="_blank" >Homework 10</a>]
                            This unit has everything you need.
                        </li>
                    </ol>
                </td>
            </tr>
            <tr>
                <td>Test Yourself</td>
                <td><div style="text-align: center;">Exam 2</div></td>
                <td style="width: 75%;">
                    <ol>
                        <li>[<a href="{{ url_for('static', filename='notes/Security/work/cs358fall2020_exam2.pdf') }}" target="_blank" >Exam 2</a>]
                            This will use material from all of the notes used up to this point.
                        </li>
                    </ol>
                </td>
            </tr>
            <tr>
                <td>Unit 8</td>
                <td><div style="text-align: center;">Malware & Buffer Overflow</div></td>
                <td style="width: 75%;">
                    <ol>
                        <li>[<a href="{{ url_for('static', filename='notes/Security/cs358_notes_malware_buffer_overflow.pdf') }}" target="_blank">Malware & Buffer Overflow</a>]
                            The many types of Malware: Viruses, Macro viruses, Worms, Rootkits, Trojans, Logic Bombs, Backdoors, Spyware, Ransomware, and more. We also get an
                            insight into a type of attack that takes advantage of the buffer overflow error that is sometimes not checked for in things like js or c.
                        </li>
                        <li>[<a href="{{ url_for('static', filename='notes/Security/work/cs358fall2020_homework11.pdf') }}" target="_blank" >Homework 11</a>]
                            This unit has everything you need.
                        </li>
                    </ol>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="floating_field large">
	<Strong>Resources for Security</Strong><br>
	Resources by Professor Heinold of Mount St. Mary's University
</div>
<div class="floating_box large">
    <table style="width: 100%;">
        <tbody>
            <tr>
                <td>
                    <div style="text-align: center;">Notes</div>
                </td>
                <td style="width: 75%;">
                    <ol>
                        <li><a href="{{ url_for('static', filename='notes/Security/cs358_notes_classical_cryptography.pdf') }}" target="_blank" >Classical Cryptography 1</a></li>
                        <li><a href="{{ url_for('static', filename='notes/Security/cs358_notes_classical_cryptography2.pdf') }}" target="_blank">Classical Cryptography 2</a></li>
                        <br>
                        <li><a href="{{ url_for('static', filename='notes/Security/cs358_notes_modern_cryptography1.pdf') }}" target="_blank">Modern Cryptography 1</a></li>
                        <li><a href="{{ url_for('static', filename='notes/Security/cs358_notes_modern_cryptography2.pdf') }}" target="_blank">Modern Cryptography 2</a></li>
                        <li><a href="{{ url_for('static', filename='notes/Security/cs358_notes_modern_cryptography3.pdf') }}" target="_blank">Modern Cryptography 3</a></li>
                        <li><a href="{{ url_for('static', filename='notes/Security/cs358_notes_modern_cryptography4.pdf') }}" target="_blank">Modern Cryptography 4</a></li>
                        <li><a href="{{ url_for('static', filename='notes/Security/cs358_notes_modern_cryptography5.pdf') }}" target="_blank">Modern Cryptography 5</a></li>
                        <br>
                        <li><a href="{{ url_for('static', filename='notes/Security/cs358_notes_passwords.pdf') }}" target="_blank">Passwords</a></li>
                        <li><a href="{{ url_for('static', filename='notes/Security/cs358_notes_dns_security.pdf') }}" target="_blank">DNS Security</a></li>
                        <br>
                        <li><a href="{{ url_for('static', filename='notes/Security/cs358_notes_network_security.pdf') }}" target="_blank">Network Security 1</a></li>
                        <li><a href="{{ url_for('static', filename='notes/Security/cs358_notes_network_security2.pdf') }}" target="_blank">Network Security 2</a></li>
                        <li><a href="{{ url_for('static', filename='notes/Security/cs358_notes_network_security3.pdf') }}" target="_blank">Network Security 3</a></li>
                        <br>
                        <li><a href="{{ url_for('static', filename='notes/Security/cs358_notes_malware_buffer_overflow.pdf') }}" target="_blank">Malware & Buffer Overflow</a></li>
                        <li><a href="{{ url_for('static', filename='notes/Security/cs358_notes_web_vulnerabilities.pdf') }}" target="_blank">Web Vulnerabilities</a></li>
                    </ol>
                </td>
            </tr>
            <tr>
                <td>
                    <div style="text-align: center;">Work Sheets</div>
                </td>
                <td style="width: 75%;">
                    <ul>
                        <li><a href="{{ url_for('static', filename='notes/Security/work/cs358fall2020_homework1.pdf') }}" target="_blank" >Homework 1</a></li>
                        <li><a href="{{ url_for('static', filename='notes/Security/work/cs358fall2020_homework2.pdf') }}" target="_blank" >Homework 2</a></li>
                        <li><a href="{{ url_for('static', filename='notes/Security/work/cs358fall2020_homework3.pdf') }}" target="_blank" >Homework 3</a></li>
                        <li><a href="{{ url_for('static', filename='notes/Security/work/cs358fall2020_homework4.pdf') }}" target="_blank" >Homework 4</a></li>
                        <li><a href="{{ url_for('static', filename='notes/Security/work/cs358fall2020_homework5.pdf') }}" target="_blank" >Homework 5</a></li>
                        <li><a href="{{ url_for('static', filename='notes/Security/work/cs358fall2020_homework6.pdf') }}" target="_blank" >Homework 6</a></li>
                        <li><a href="{{ url_for('static', filename='notes/Security/work/cs358fall2020_homework7.pdf') }}" target="_blank" >Homework 7</a></li>
                        <li><a href="{{ url_for('static', filename='notes/Security/work/cs358fall2020_homework8.pdf') }}" target="_blank" >Homework 8</a></li>
                        <li><a href="{{ url_for('static', filename='notes/Security/work/cs358fall2020_homework9.pdf') }}" target="_blank" >Homework 9</a></li>
                        <li><a href="{{ url_for('static', filename='notes/Security/work/cs358fall2020_homework10.pdf') }}" target="_blank" >Homework 10</a></li>
                        <li><a href="{{ url_for('static', filename='notes/Security/work/cs358fall2020_homework11.pdf') }}" target="_blank" >Homework 11</a></li>
                        <br>
                        <li><a href="{{ url_for('static', filename='notes/Security/work/cs358fall2020_exam1.pdf') }}" target="_blank" >Exam 1</a></li>
                        <li><a href="{{ url_for('static', filename='notes/Security/work/cs358fall2020_exam2.pdf') }}" target="_blank" >Exam 2</a></li>
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}