{% extends "base.html" %}
{% block content %}
<div class="floating_field large">
    <h2>Contact Me</h2>
</div>
<div class="floating_box medium">
    <table>
    <tbody>
        <tr>
            <td style="padding:1em;"><a href="{{ static('resume.pdf') }}">Resume</a></td>
            <td>Not including contacts</td>
        </tr>
        <tr>
            <td style="padding:1em;"><a href="mailto:jakobwilde0@gmail.com">Email Me</a></td>
            <td>jakobwilde0@gmail.com</td>
        </tr>
    </tbody>
    </table>
</div>
{% endblock %}