{% extends "base.html" %}
{% block content %}
<div class="floating_field large">
	<Strong>Curriculum for Website Basics</Strong><br>
	Jakob C. Hild & Marguerite Weldon 2020
</div>
<div class="floating_box large">
    <table style="width: 100%;">
        <tbody>
            <tr>
                <td>Unit 1</td>
                <td>
                    <div style="text-align: center;">HTML</div>
                </td>
                <td style="width: 75%;">
                    <ol>
                        <li>Introduce Basic HTML structure and create &quot;Hello World&quot; Program.</li>
                        <li>Discuss various HTML Elements.</li>
                        <li>Discuss additional HTML structures, such as lists and tables.</li>
                        <li>Add functionality to jump from one HTML page to another.</li>
                        <li>Discuss Forms and buttons and text areas.</li>
                    </ol>
                </td>
            </tr>
            <tr>
                <td>Unit 2</td>
                <td>
                    <div style="text-align: center;">CSS</div>
                </td>
                <td style="width: 75%;">
                    <ol>
                        <li>Discuss the various ways of implementing style sheets using HTML.</li>
                        <li>Introduce CSS Parameters and values.</li>
                        <li>Give time for student to play with CSS Styling.</li>
                    </ol>
                </td>
            </tr>
            <tr>
                <td>Unit 3</td>
                <td>
                    <div style="text-align: center;">JavaScript</div>
                </td>
                <td style="width: 75%;">
                    <ol>
                        <li>Introduce JS variables and connecting it to HTML.</li>
                        <li>Work into more and more complex Coding exercises, which add functionality using various Programming Ideas (Functions, Classes, Variable Manipulation, etc...).</li>
                    </ol>
                </td>
            </tr>
            <tr>
                <td>Unit 4</td>
                <td>
                    <div style="text-align: center;">PHP</div>
                </td>
                <td style="width: 75%;">
                    <ol>
                        <li>Discuss PHP syntax and various use cases.</li>
                        <li>Discuss Server commands... POST and GET.</li>
                        <li>XML and JSON file parsing.</li>
                    </ol>
                </td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}