{% extends "base.html" %}
{% block content %}
<div class="floating_box medium">
	<p>
		<h3>Current Time</h3>
		<div id="time_current"></div><br><br>
	</p>
</div>

<div class="floating_box medium">
	<p>
		<h3>Engaged on</h3>
		<div id="time_engaged"></div><br>
		<span id="seconds_since_engaged"></span> Seconds<br>
		<span id="minutes_since_engaged"></span> Minutes<br>
		<span id="hours_since_engaged"></span> Hours<br>
		<span id="days_since_engaged"></span> Days<br>
		<span id="mensiversary"></span><span id="anniversary"></span><br>
	</p>
</div>

<div class="floating_box medium">
	<p>
		<h3>Marriage</h3>
		<div id="time_marriage"></div><br>
		<span id="seconds_since_marriage"></span> Seconds<br>
		<span id="minutes_since_marriage"></span> Minutes<br>
		<span id="hours_since_marriage"></span> Hours<br>
		<span id="days_since_marriage"></span> Days<br>
		<span id="mensiversary_marriage"></span><span id="anniversary_marriage"></span><br>
	</p>
</div>

<script src="{{ static('scripts/secret/engaged.js') }}"></script>
{% endblock %}