<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
		<link rel="icon" href="{{ static('images/jch_32.png') }}"/>
        <title>A Wilde Wedding</title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
        <link rel="stylesheet" href="{{ static('css/wedding.css') }}">
        <meta name="Description" content="
            Wedding Date information
        ">
    </head>
	<body>
		<center>
		<img class="banner" src="{{ static('images/wedding_images/banner.png') }}"/>
		<ul id="large">
			<h1>When and Where</h1>
			<h1>
			<li>
				<img src="{{ static('images/wedding_images/map.jpeg') }}" class= "small" style="width: 15em;"/>
				<p style="padding:1em;">
					St. Raphaels Catholic Church<br>
					1513 Dunster Road<br>
					Rockville, MD 20854<br><br>
					<a href="tel:301-762-2143">Church Phone: 301-762-2143</a><br><br>
					Time: Saturday 2pm November 13, 2021<br>
					<a href="https://docs.google.com/forms/d/e/1FAIpQLScp4I5-RCnE1pTL7r46O0_zR5UMVV_LuMAglBN8nBloAIg9FQ/viewform?usp=sf_link">RSVP GOOGLE FORM</a>
				</p>
			</li>
			<li>
				<img src="{{ static('images/wedding_images/parking.png') }}" class= "small"/>
				<br><center>Parking</center>
				<p style="padding:1em; font-size: 0.75em;">The map above shows all areas that you can use for parking, spots where there are blue is for handicap parking only. The red arrows show one-way areas. There should be more then enough parking with more than 150 spots and at least 10 handicap accessible parking spaces.</p>
			</li>
			<li>
				<img src="{{ static('images/wedding_images/church.jpg') }}" class= "small"/>
				<p style="padding:1em;">The wedding itself will take place in the church at 2pm. Wear your Sunday Best!</p>
			</li>
			<li>
				<img src="{{ static('images/wedding_images/reception.jpeg') }}" class= "small"/>
				<p style="padding:1em;">The wedding reception will take place in the library which can be found just behind the church connected to the rest of the school.</p>
			</li>
			<li>
				<center>
					<h2>Time</h2><hr>
					<p id="time_info" style="padding:1em;"></p>
				</center>
			</li>
			</h1>
		</ul>
		<ul style="text-align: left;">
			<center><h1>Wedding Info</h1></center>
			<p><br></p>
			<p>1. <strong><em><a href="https://docs.google.com/forms/d/e/1FAIpQLScp4I5-RCnE1pTL7r46O0_zR5UMVV_LuMAglBN8nBloAIg9FQ/viewform?usp=sf_link">RSVP</a></em></strong> as soon as you can! (Details below)</p>
			<p>2. Please consider, we have decided that we will both be changing our last names to Wilde, a combination of Hild and Weldon.</p>
			<p>3. This is a <strong>dry</strong> wedding, so we will not be serving alcoholic beverages.</p>
			<p>4. We encourage families to bring their children if possible. We want it to be a child fun/friendly event.</p>
			<p>5. Please understand that for the safety of photosensitive guests, we ask that you refrain from using flash photography. You can take pictures without the flash (as long as you are not blocking our professional photographer). We will also provide access to all professional photos sometime after the wedding.</p>
			<p>6. Remember to keep your phone silent during the ceremony.</p>
			<p>7. You will be attending a traditional Catholic Church wedding. Please remember to dress appropriately for the occasion (Sunday best).</p>
			<p>8. An extra side note... If you can dress for the theme; the 50s, you will get bonus points and maybe even a prize! ;)</p>
		</ul>
		<ul>
			<h1>Contact Information:</h1><br>
			<p><a href="https://docs.google.com/forms/d/e/1FAIpQLScp4I5-RCnE1pTL7r46O0_zR5UMVV_LuMAglBN8nBloAIg9FQ/viewform?usp=sf_link">RSVP GOOGLE FORM</a></p>
			<p><a href="mailto:maddie.jakob.wilde@gmail.com">maddie.jakob.wilde@gmail.com</a><br>
				(Use this for important information pertaining to the wedding only, DO NOT use this to RSVP unless the form is not working for you.)</p>
		</ul>
		<ul>
			<h1>Maddie &hearts; Jakob</h1>
			<h4>
			<li class="images_item">
				<img class= "small" src="{{ static('images/wedding_images/us_1.jpg') }}"/>
				<div class="image_cap">The first time going to OC MD, together as a couple.</div>
			</li>
			<li class="images_item">
				<img class= "small" src="{{ static('images/wedding_images/us_2.jpg') }}"/>
				<div class="image_cap">Our first baseball game was during our first summer together. It was Jersey Day!</div>
			</li>
			<li class="images_item">
				<img class= "small" src="{{ static('images/wedding_images/us_3.jpg') }}"/>
				<div class="image_cap">In OC again during another point in our first summer. Maddie's Birthday and we're watching a Beatles cover band.</div>
			</li>
			<li class="images_item">
				<img class= "small" src="{{ static('images/wedding_images/us_4.jpg') }}"/>
				<div class="image_cap">A picture of us in Howth, Ireland.</div>
			</li>
			<li class="images_item">
				<img class= "small" src="{{ static('images/wedding_images/us_5.jpg') }}"/>
				<div class="image_cap">Another picture of us in Howth. But, aren't we adorable?</div>
			</li>
			<li class="images_item">
				<img class= "small" src="{{ static('images/wedding_images/us_6.jpg') }}"/>
				<div class="image_cap">We took a trip to London, England while studying abroad!</div>
			</li>
			<li class="images_item">
				<img class= "small" src="{{ static('images/wedding_images/us_7.jpg') }}"/>
				<div class="image_cap">We got to go see how Guiness is made in Dublin, where we were studying abroad.</div>
			</li>
			<li class="images_item">
				<img class= "small" src="{{ static('images/wedding_images/us_8.jpg') }}"/>
				<div class="image_cap">Athenry was a beautiful little place near Galway, we stayed a few nights there.</div>
			</li>
			<li class="images_item">
				<img class= "small" src="{{ static('images/wedding_images/us_9.jpg') }}"/>
				<div class="image_cap">Munchen, Germany. We made it just in time for Oktoberfest 2019~!</div>
			</li>
			<li class="images_item">
				<img class= "small" src="{{ static('images/wedding_images/us_a.jpg') }}"/>
				<div class="image_cap">This is the Giants Causeway near Belfast!</div>
			</li>
			<li class="images_item">
				<img class= "small" src="{{ static('images/wedding_images/us_b.jpg') }}"/>
				<div class="image_cap">This is our Annual Sunflower Garden Trip! This is year 2!</div>
			</li>
			<li class="images_item">
				<img class= "small" src="{{ static('images/wedding_images/us_c.jpg') }}"/>
				<div class="image_cap">This is a selfie at the Baltimore Harbor that I couldn't leave out because we look so cute in our outfits like this!</div>
			</li>
			</h4>
		</ul>
		</center>
		<script src="{{ static('scripts/secret/wedding.js') }}"></script>
	</body>
</html>